.display-5{
    color: #fff
}

.dashboard{
    padding: 90px;
    background: #4B4E6D;
}

.dashboard .nav{
    margin-bottom: 20px;
}

@media (min-width:100px){
    .dashboard{
        padding: 30px;
    }
}

.dashboard hr{
    background: #fff;
    height: 2px;
}

.dashboard .icon{
    font-size: 25px;
    cursor: pointer;
}

.cards{
    text-align: center;
    height: 100%;
    border: none;
}

.cards .cardTitle{
    padding-top: 25px;
}

.cards .btn{
    margin-top: 25px
}